img {
 width: 30%;
 height: 30%;
 margin: 10px;
 float: right;
}

h1{
    font-size: 500%;
    margin: 10px; 
    margin-left: 50px;
    color: rgb(176, 164, 180);
}

h2 {
    font-size: 500%;
    color: rgb(206, 187, 216); 
    margin-top: 15px;
}

p {
    text-align: justify;
    text-justify: inter-word;
    color: rgb(176, 164, 180);
    font-size: 20px;

}

table, ul, b, a {
    color: rgb(176, 164, 180);
    font-size: 20px;
}

body {
    background-image: url(fondo.jpg);
    background-attachment: fixed; 
}
